.main-content {
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('https://images.unsplash.com/photo-1543965860-0a2c912bc32f?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .catchphrase {
    margin: 40px;
    margin-bottom: 35px;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .discover-button {
    position: relative;
    margin: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .discover-button:hover {
    transition: all 100ms ease;
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  
  .discover-button:hover {
    background-color: darkgreen;
  }
  