.createpost{
    background-image:linear-gradient(to bottom left, rgba(236, 246, 240, 0.712),rgba(178, 213, 180, 0.553));
     background-size: cover;
    height: 100vh;
    overflow: auto;
    

}

.createbutton{
    background-color: rgba(7, 64, 20, 0.867);
    color: aliceblue;
}

.createbutton:hover{
    background-color: rgba(6, 95, 28, 0.867);;
}

.formcreate{
    margin-top: 40px;
}